.resource-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease !important;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2) !important;
  border-radius: 8px !important;
}

.resource-card:hover {
  transform: scale(1.05) !important;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3) !important;
}
