@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel-container {
  overflow: hidden;
  white-space: nowrap;
  margin-top: 2em;
  display: flex;
  align-items: center;
  position: relative;
}

.carousel-slide {
  display: inline-flex;
  animation: scroll 30s linear infinite;
}

.carousel-slide img {
  height: 50px;
  margin-right: 3em;
}

.carousel-container::before,
.carousel-container::after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
